<section role="main" class="content-body">
    <header class="page-header">
        <h2>这里是学生页面</h2>

        <div class="right-wrapper pull-right">
            <ol class="breadcrumbs">
                <li>
                    <a href="index.html">
                        <i class="fa fa-home"></i>
                    </a>
                </li>
                <li><span>这里是学生页面</span></li>
            </ol>

            <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
        </div>
    </header>
    <section class="panel">
        <header class="panel-heading">
            <div class="panel-actions">
                <a href="#" class="fa fa-caret-down"></a>
                <a href="#" class="fa fa-times"></a>
            </div>

            <h2 class="panel-title">Actions</h2>
        </header>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table mb-none">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Username</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>mdo</td>
                            <td class="actions">
                                <a href="@Url.Action("Edit")?Id=123"><i class="fa fa-pencil"></i></a>
                                <a href="@Url.Action("Delete")?Id=123" class="delete-row"><i class="fa fa-trash-o"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>fat</td>
                            <td class="actions">
                                <a href="@Url.Action("Edit")?Id=123"><i class="fa fa-pencil"></i></a>
                                <a href="@Url.Action("Delete")?Id=123" class="delete-row"><i class="fa fa-trash-o"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>twitter</td>
                            <td class="actions">
                                <a href="@Url.Action("Edit")?Id=123"><i class="fa fa-pencil"></i></a>
                                <a href="@Url.Action("Delete")?Id=123" class="delete-row"><i class="fa fa-trash-o"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</section>